body{
    background-image: url("../img/bg_02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    background-color: #000;
}
.main{
    margin: auto;
    width: 50%;
    text-align: justify;
    font-size: 20px;
    background-color: #fff;
}

.header{
    padding: 25px;
    text-align: center;
    background-color: #ff0000;
    color: #000;
}
.header h1{
    text-transform: uppercase;
    border-bottom: 5px solid #000;
}
.banner img{
    width: 100%;
}
.content{
    display: flex;
    font-size: 18px;
}
.content img{
    width: 100%;
}
.box{
    padding: 10px;
}
.box h2{
    border-bottom: 3px solid black;
}
.footer{
    background-color: red;
    padding: 10px;
}

@media screen and (max-width: 1440px){
.main{
   width: 80%;
}
}
@media screen and (max-width: 768px){
body{
    background-image: none;
}
.main{
    width: auto;
    font-size: 14px;
}
.content{
    display: block;
}
}